div {
    border-left-width: 2px;
    border-left-style: solid;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
}

#Geral {
    width: 195px;
    height: 275px;
}
h3{
    margin-top: 3px;
    margin-bottom: 7px;
    text-align: center;
}
p {
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
}

#Tela{
    width: 180px;
    height: 80px;
    position: absolute;
    top: 40px;
    left: 15px;
}
#Variaveis{
    border-style: unset ;
    margin-top: 1px;
    margin-bottom: 1px;
}
#A, #Delta {
    margin-left: 3px;
}
#Fala {
    text-align: center;
}
#ul2{
    position: absolute;
    left: 80px;
}
#Exibe {
    width: 135px;
    margin-top: 0px;
    margin-bottom: 0px; 
    text-align: end;
    padding-right: 10px;
}

.Numeros{
    width: 50px;
    margin-right: 3px;
    margin-bottom: 3px;
}
#Teclado {
    width: 172.5px;
    height: 147.5px;
    position: absolute;
    top: 122px;
    left: 15px;
    padding-top: 5px;
    padding-left: 7.2px;
}
#btn-0 {
    margin-left: 5px;
}
#negativo{
    margin-left: 20px;
}

#Menu{
    width: 135px;
    margin-top: 2.5px;
    margin-left: 10px;
    border-width: 0px;
}
.Bm {
    width: 65px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0;
}
#apagar {
    background-color: rgb(255, 22, 22);
}
#confirma {
    background-color: rgb(22, 189, 49);
}
