div {
    border-left-width: 2px;
    border-left-style: solid;
    border-top-width: 2px;
    border-top-style: solid;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-right-width: 2px;
    border-right-style: solid;
}

#Geral {
    width: 365px;
    height: 200px;
}
p, ul, h3{
    margin-top: 5px;
    margin-bottom: 5px;
}
h3 {
    text-align: center;
}

#Tela{
    width: 200px;
    height: 160px;
    position: absolute;
    top: 40px;
    left: 15px;
}
#Fala {
    text-align: center;
}
#ul1{
    padding-left: 30;
}
#ul2{
    position: absolute;
    left: 80;
}

#Teclado {
    width: 140px;
    height: 155px;
    position: absolute;
    top: 40px;
    left: 215px;
    padding-top: 5px;
    padding-left: 10px;
    border-left: 0;
}
#Exibe {
    margin-top: 0px;
    margin-bottom: 0px; 
    text-align: end;
    padding-right: 10px;
}
.Numeros{
    width: 40px;
    margin-right: 3px;
    margin-bottom: 3px;
}
#btn-0 {
    margin-left: 47px;
}

#Menu{
    width: 135px;
    margin-top: 5px;;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}
.Bm {
    width: 65px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0;
}
#apagar {
    background-color: rgb(255, 22, 22);
}
#confirma {
    background-color: rgb(22, 189, 49);
}
